<div id="page-wrapper" *ngIf=!sawGame>
    <div class="contact-clean">
        <form method="post">
            <br>
            <h2 class="text-center">Carta: {{ cardName }}</h2>
            <div class="form-group">
                <textarea class="form-control" rows="7" name="history" placeholder="{{ cardHistory }}" disabled></textarea>
            </div>
        </form>
        <br> 
        <div id="card" class="text-center">
            <img [src] = "cardURL">
        </div>
        <br>
        <br>
        <div class="col-md-40 m-40">
            <div class="text-center">
                <div class="form-group" >
                    <div id="special-button">
                        <button class="btn btn-primary"  (click)="playGame()" > ¡Comenzar la fase! </button>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
<div *ngIf="sawGame">
    <button class="btn btn-primary btn-circle" (click)= "swapSoundState()" *ngIf="sound"><i class="glyphicon glyphicon-volume-up"></i></button>
    <button class="btn btn-primary btn-circle" (click)= "swapSoundState()" *ngIf="!sound"><i class="glyphicon glyphicon-volume-off"></i></button>
</div>
<h1 class="text-center" *ngIf="arcade&&sawGame"><strong>Puntuación: {{ userScore }}</strong></h1>
<div class="row col-md-12 text-left" *ngIf="arcade&&sawGame">
    <div class="col-md-4">
        <button class="btn btn-warning btn-circle" (click)= "useJoker(1)"   *ngIf="comodinMultiplicador">X2</button>
        <button class="btn btn-warning btn-circle"    *ngIf="!comodinMultiplicador" disabled>X2</button>
        <button class="btn btn-info btn-circle" (click)= "useJoker(2)"   *ngIf="comodinVolteo"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info btn-circle"    *ngIf="!comodinVolteo" disabled><i class="fa fa-eye"></i></button>
    </div>
</div>
<div class="text-center" *ngIf="survival&&sawGame">
    <h1><strong class="text-center">Vidas restantes</strong></h1>
    <h1><strong class="text-center">{{ userLives }}<img src="../../assets/images/liveIcon.png"></strong></h1>
</div>
<br>
<div id="photos" *ngIf="sawGame">
    <img [@jokerAnimation]="stateName" [src] = "url1" (click)= "sawCard(0)">
    <img [@jokerAnimation]="stateName" [src] = "url2" (click)= "sawCard(1)">
    <img [src] = "url3">
    <img [src] = "url4">
    <img [@jokerAnimation]="stateName" [src] = "url5" (click)= "sawCard(2)">
    <img [@jokerAnimation]="stateName" [src] = "url6" (click)= "sawCard(3)">
    <img [@jokerAnimation]="stateName" [src] = "url7" (click)= "sawCard(4)">
    <img [@jokerAnimation]="stateName" [src] = "url8" (click)= "sawCard(5)">
    <img [src] = "url9">
    <img [src] = "url10">
    <img [@jokerAnimation]="stateName" [src] = "url11" (click)= "sawCard(6)">
    <img [@jokerAnimation]="stateName" [src] = "url12" (click)= "sawCard(7)">
</div>