<h1 class="text-center" *ngIf="arcade">Puntuación: {{ userScore }}</h1>
<div class="row col-md-12 text-left" *ngIf="arcade">
        <div class="col-md-4">
            <button class="btn btn-warning btn-circle" (click)= "useJoker(1)" data-toggle="modal" data-target="#myModal" *ngIf="comodinMultiplicador">X2</button>
            <button class="btn btn-warning btn-circle"  data-toggle="modal" data-target="#myModal" *ngIf="!comodinMultiplicador" disabled>X2</button>

            <button class="btn btn-info btn-circle" (click)= "useJoker(2)" data-toggle="modal" data-target="#myModal" *ngIf="comodinVolteo"><i class="fa fa-eye"></i></button>
            <button class="btn btn-info btn-circle"  data-toggle="modal" data-target="#myModal" *ngIf="!comodinVolteo" disabled><i class="fa fa-eye"></i></button>

        </div>
</div>
<div class="text-center" *ngIf="survival">
<h1 class="text-center">Vidas restantes</h1><h1 class="text-center">{{ userLives }} <img src="../../../assets/liveIcon.png"></h1>
</div>
 
<br>
  <!--[ngStyle]="{background: 'url(/assets/' + imgR + ')', width: '700px', height: '700px'}"-->
  <div id="photos" >
    <img [src] = "url1">
    <img [src] = "url2">
    <img [src] = "url3">
    <img [src] = "url4">
    <img [src] = "url5" (click)= "sawCard(0)">
    <img [src] = "url6">
    <img [src] = "url7" (click)= "sawCard(1)">
    <img [src] = "url8">
    <img [src] = "url9">
    <img [src] = "url10">
    <img [src] = "url11">
    <img [src] = "url12">
  </div>


  